
<div class="actionBar">
  <span class="playActions">
    <i (click)="play()" class="fa fa-play" *ngIf="!isPlaying"></i>
    <i (click)="pause()" class="fa fa-pause" *ngIf="isPlaying"></i>
    <i (click)="stop()" class="fa fa-stop"></i>
  </span>

  <span class="stepActions">
    <i (click)="addSteps()" class="fa fa-plus"></i>
    <i (click)="removeSteps()" class="fa fa-minus"></i>
  </span>

  <form class="formActions">
    <input type="number" (change)="updateBpm($event.target.value)" min="60" max="240" value="{{ currentBpm }}" /> BPM

    <select (change)="switchSequence($event.target.value)">
      <option>Sequences</option>
      <option *ngFor="#num of sequenceList">{{ num }}</option>
    </select>
  </form>
</div>
<ml-drum-sequence></ml-drum-sequence>
