
<i (click)="play()" class="fa fa-play"></i>
<i (click)="stop()" class="fa fa-stop"></i>

<form>
  <input type="number" (blur)="updateBpm($event.target.value)" min="60" max="240" value="{{ currentSequence.bpm }}" />
</form>

<div class="wrapper">

  <div *ngFor="#step of currentSequence.steps" [ngClass]="{isPlaying: step.isPlaying}" class="collumn">
    <div [ngClass]="{active: step.kick.isEnabled}" class="beat kick"></div>
    <div [ngClass]="{active: step.snare.isEnabled}" class="beat snare"></div>
    <div [ngClass]="{active: step.hhOpen.isEnabled}" class="beat hhOpen"></div>
    <div [ngClass]="{active: step.hhClose.isEnabled}" class="beat hhClose"></div>
  </div>

</div>
