
$defaultColor: #5b6167;
$kickColor: #24b79b;
$snareColor: #e13563;
$hhOpenColor: #f7c140;
$hhCloseColor: #ee5a4b;

ml-drum {
  .collumn {
    display: inline-block;

    &:nth-child(4n) {
      margin-right: 3px;
    }
  }

  .beat {
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 2px;
    background-color: $defaultColor;
    transition: background-color 0.1s linear;

    &.kick.active {
      background-color: $kickColor;
    }

    &.snare.active {
      background-color: $snareColor;
    }

    &.hhOpen.active {
      background-color: $hhOpenColor;
    }

    &.hhClose.active {
      background-color: $hhCloseColor;
    }
  }

  .isPlaying {
    .beat.active {
      background-color: white;
    }
  }
}
