
<i (click)="play()" class="fa fa-play"></i>
<i (click)="stop()" class="fa fa-stop"></i>

<input type="number" (change)="updateBpm($event.target.value)" min="60" max="240" value="{{ currentSequence.bpm }}" />

<select (change)="switchSequence($event.target.value)">
    <option *ngFor="#num of sequenceList">{{ num }}</option>
</select>

<div class="wrapper">

  <div *ngFor="#step of currentSequence.steps" [ngClass]="{isPlaying: step.isPlaying}" class="collumn">
    <div (click)="step.kick.toggle()" [ngClass]="{active: step.kick.isEnabled}" class="beat kick"></div>
    <div (click)="step.snare.toggle()" [ngClass]="{active: step.snare.isEnabled}" class="beat snare"></div>
    <div (click)="step.hhOpen.toggle()" [ngClass]="{active: step.hhOpen.isEnabled}" class="beat hhOpen"></div>
    <div (click)="step.hhClose.toggle()" [ngClass]="{active: step.hhClose.isEnabled}" class="beat hhClose"></div>
  </div>

</div>
