
$defaultColor: #5b6167;
$kickColor: #24b79b;
$snareColor: #e13563;
$hhOpenColor: #f7c140;
$hhCloseColor: #ee5a4b;

ml-drum-sequence {
  .wrapper {
    max-width: 1310px;
  }

  .collumn {
    display: inline-block;
    margin-bottom: 20px;

    &:nth-child(4n) {
      margin-right: 3px;
    }
  }

  .beat {
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 2px;
    background-color: $defaultColor;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: lighten( $defaultColor, 15% )
    }

    &.kick.active {
      background-color: $kickColor;

      &:hover {
        background-color: darken( $kickColor, 15% )
      }
    }

    &.snare.active {
      background-color: $snareColor;

      &:hover {
        background-color: darken( $snareColor, 15% )
      }
    }

    &.hhOpen.active {
      background-color: $hhOpenColor;

      &:hover {
        background-color: darken( $hhOpenColor, 15% )
      }
    }

    &.hhClose.active {
      background-color: $hhCloseColor;

      &:hover {
        background-color: darken( $hhCloseColor, 15% )
      }
    }
  }

  .number {
    text-align: center;
    color: $defaultColor;
    transition: color 0.1s linear;
  }

  .isPlaying {
    .beat {
      background-color: lighten( $defaultColor, 10% );

      &.active {
        background-color: white;
      }
    }

    .number {
      color: lighten( $defaultColor, 10% );
    }
  }
}
