
<p>
  <i (click)="play()" class="fa fa-play"></i>
  <i (click)="stop()" class="fa fa-stop"></i>
  <i (click)="pause()" class="fa fa-pause"></i>
</p>

<p>
  <i (click)="addSteps()" class="fa fa-plus"></i>
  <i (click)="removeSteps()" class="fa fa-minus"></i>
</p>

<form>
  <input type="number" (change)="updateBpm($event.target.value)" min="60" max="240" value="{{ currentSequence.bpm }}" />

  <select (change)="switchSequence($event.target.value)">
    <option *ngFor="#num of sequenceList">{{ num }}</option>
  </select>
</form>

<div class="wrapper">

  <div *ngFor="#step of currentSequence.steps" [ngClass]="{isPlaying: step.isPlaying}" class="collumn">
    <div (click)="step.kick.toggle()" [ngClass]="{active: step.kick.isEnabled}" class="beat kick"></div>
    <div (click)="step.snare.toggle()" [ngClass]="{active: step.snare.isEnabled}" class="beat snare"></div>
    <div (click)="step.hhOpen.toggle()" [ngClass]="{active: step.hhOpen.isEnabled}" class="beat hhOpen"></div>
    <div (click)="step.hhClose.toggle()" [ngClass]="{active: step.hhClose.isEnabled}" class="beat hhClose"></div>
  </div>

</div>
